* {
    box-sizing: border-box;
}

body {
    background-image: url(images/cork.jpg);
    background-repeat: repeat;
}

.photo {
    background-color: white;
    padding: 10px;
    padding-bottom: 40px;
    position: relative;
    width: 220px;
    box-shadow: -10px 10px 5px rgba(0,0,0,.5);
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

img {
    width: 200px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#pushpin {
    width: 60px;
    position: absolute;
}

@font-face {
  font-family: Marker;
  src: url(font/PermanentMarker.ttf);
}

.label {
    font-family: Marker;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 1.2em;
    bottom: 8px;
    text-align: center;
}

#rottweiler {
    transform: rotate(-2deg);
    top: 5px;
}

#koala {
    transform: rotate(5deg);
    top: 50px;
    left: 20px;
}

#peacock {
    transform: rotate(-5deg);
    left: 30px;
    top: 10px;
}

