form {
    background-color: lightgrey;
    width: 27em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
}

body, input, textarea {
    font-size: 1.3em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td:nth-child(1) {
    text-align: right;
}

#submit {
    color: white;
    background-color: blue;
    width: 5em;
    height: 3em;
    border: none;
}

textarea {
    width: 95%;
    height: 200px;
    padding: 5px;
}