.container {
    padding: 10px;
    height: auto;
}

.container img {
    width: 40%;
    float: left;
    margin: 2%;
    //border: solid 3px #42280E;
}

@media (max-width: 660px) {
    .container img {
        width: 96%;
    }
}