#fadeoutBG {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: .8;
    z-index: 5;
}

#popup {
    display: none;
    left: 10vw;
    top: 10vh;
    position: fixed;
    background-image: url(/images/test1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    height: 80vh;
    z-index: 10;
}

.container {
    height: auto;
    margin-bottom: 30px;
    text-align: center;
}

.container img {
    display: inline-block;
    margin: auto;
    max-width: 30%;
    max-height: 30%;
    margin: 1%;
    border: 3px #42280E solid;
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}

.container img:hover {
    cursor: pointer;
}

@media (max-width: 740px) {
    .container img {
        max-width: 47%;
        max-height: 47%;
    }
}

@media (max-width: 400px) {
    .container img {
        max-width: 100%;
        max-height: 100%;
    }
}