body {
   
}



#fadeoutBG {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: .8;
    z-index: 5;
}

#popup {
    visibility: hidden;
    left: 10vw;
    top: 10vh;
    position: fixed;
    background-image: url(/images/test1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    height: 80vh;
    z-index: 10;
}