.container {
    text-align: center;
    height: 700px;
}

#editcontainer {
    height: 70%;
    position: relative;
}

#editcontainer img {
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    position: absolute;
    padding: 5px;
}

input {
    width: 50%;
    display: block;
    margin: auto;
}

#editedImage {
    opacity: 0;
}