* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    cursor: default;
    font-family: Cinzel;
}

.bgImage {
    top: 0;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*//////////////////////////////////////////////*/

/*Header*/

header {
    user-select: none;
    margin: 30px;
    
}

header h1 {
    text-align: right;
    font-weight: 100;
    font-family: Cinzel;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, .8)
}



/*Navigation bar*/

nav {
    margin-left: 5%;
    width: 50%;
    text-align: center;
    user-select: none;
    margin-top: 10%;
    padding-top: .5%;
    padding-bottom: .5%;
    background-color: rgba(0, 0, 0, .5);
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-bottom: black 3px solid;
    border-top: black 3px solid;
    border-style: none;
    /*Transition*/
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

nav a:hover {
    font-weight: 800;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
}

nav a:visited {
    color: white;
}


/*Main including content*/
main {
    color: white;
}

/*Footer*/

#footer {
    width: 100%;
    height: 25%;
    border: dotted thin rgb(100,100,100);
    text-align: center;
    font-size: .875em;
}