* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    cursor: default;
    font-family: Cinzel;
}

.bgImage {
    top: 0;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*//////////////////////////////////////////////*/

/*Header*/

header {
    user-select: none;
    margin: 30px;
    
}

header h1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    padding: 25px;
    text-align: right;
    font-weight: 100;
    font-family: Cinzel;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, .8)
}



/*Navigation bar*/

nav {
    margin-left: 5%;
    width: 50%;
    text-align: center;
    user-select: none;
    margin-top: 10%;
    padding-top: .5%;
    padding-bottom: .5%;
    background-color: rgba(0, 0, 0, .5);
}

.navBar {
    position: relative;
    top: 30px;
    margin-bottom: 40px; 
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-bottom: black 3px solid;
    border-top: black 3px solid;
    border-style: none;
    
    /*Transition*/
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

nav a:hover {
    font-weight: 800;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
}

nav a:visited {
    color: white;
}


/*Main including content*/
main {
    color: white;
}

.contentWrapper {
    border: solid 2px grey;
    background: linear-gradient(-90deg, rgb(10,5,3), rgb(40,20,15), rgb(20, 10, 7));
    width: 70%;
    margin: auto;
    padding: 30px;
}

.contentWrapper h1 {
    margin: 10px;
}

#aboutMePhoto {
    float: left;
    padding: 20px;
}

.galleryContainer {
    width: 100%;
}

.galleryContainer img {
    width: 20%;
    border: 2px white solid;
    margin: 2%;
}

.galleryContainer img:hover {
    cursor: pointer;
}

/*Footer*/

#footer {
    width: 100%;
    height: 25%;
    border: dotted thin rgb(100,100,100);
    text-align: center;
    font-size: .875em;
}


@media (max-width: 800px) {
    body {
        background-color: blue;
    }
}